#container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#container3p1{
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 400;
}
#container3p2{
    font-family: sans-serif;
    margin-top: 0;
    padding: 0%;
    font-size: 50px;
    font-weight: 700;
}
#subcont3{
    display: flex;
    flex-direction: column;
}
.innersubcont3a{
    margin: 0px 20px 0px 20px;
    padding: 30px;
    display: flex;
}
.innersubcont3b{
    margin: 0px 20px 20px 20px;
    padding: 30px;
    display: flex;
}
.innerinnersubcont3{
    box-shadow: 10px 10px 10px 10px black;
    padding: 20px;
    background-color:  rgb(40, 38, 38);
    border-radius: 20px;
    margin: 40px;
    height: 350px;
    width: 280px;
}
.innerinnersubcont3p1{
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 700;
}
.innerinnersubcont3p2{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 300;
}
